<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">

</head>
<body>
	<div id="wrapper">
		<div th:replace="fragments/header :: header"></div>

		<div id="page-wrapper">

			<div class="container">

				<!-- Modal createplaylist -->
				<div class="modal fade" id="createPlaylistModal" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header text-center">
								<h4 class="modal-title w-100 font-weight-bold">Create
									Playlist</h4>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body mx-3">
								<form th:action="@{/admin/editablePlaylist}" method="post"
									id="createForm">
									<fieldset>
										<label th:text="'Duration: ' + ${duration}"></label>
										<div class="form-group">
											<input type="text" name="Name" id="name"
												class="form-control input-lg" placeholder="name"
												required="true" autofocus="true" />
										</div>
										<div class="form-group">
											<input type="text" name="Description" id="description"
												class="form-control input-lg" placeholder="description"
												autofocus="true" />
										</div>
										<div class="row">
											<div class="col-xs-6 col-sm-6 col-md-6">
												<input type="submit"
													class="btn btn-lg btn-primary btn-block" value="Create" />
											</div>
											<div class="col-xs-6 col-sm-6 col-md-6"></div>
										</div>

									</fieldset>
								</form>

							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-5">
						<!-- filters aleatory -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title" align="center">Aleatory Songs</h3>
							</div>
							<div class="panel-body">
								<form action="#" th:action="@{/admin/editablePlaylistAleatory}"
									th:object="${aleatoryFilters}" method="POST">
									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="maxSongs">How many songs?</label> <input
												type="number" size="35" class="form-control" id="maxSongs"
												th:field="*{maxSongs}" placeholder="Max 20" min="1" max="20">
										</div>
										<div class="form-group col-md-6">
											<select id="multiselect-gender" multiple
												th:field="*{genreIdList}">
												<option th:each="genre :${genreList}"
													th:value="${genre.genreId}" th:text="${genre.name}"></option>
											</select>
										</div>
									</div>
									<div class="form-row">

										<div class="form-group col-md-6">
											<label for="topSelect">Top</label> <select
												class="form-control" id="topSelectId" th:field="*{top}">
												<option th:value="none"></option>
												<option th:value="likes">Top likes</option>
												<option th:value="lastReproduction">Top last Reproduction</option>
											</select>
										</div>
										<div class="form-group col-md-6">
											<label></label>
											<div class="input-group date jp-date">
												<input id="datePicker" type="text" class="form-control"
													th:field="*{localDate}" name="date"><span
													class="input-group-addon"><i
													class="glyphicon glyphicon-th"></i></span>
											</div>
											<small id="dateHelp" class="form-text text-muted">Likes/Last
												Reproduction since this date.</small>
										</div>
									</div>
									<input type="submit" value="Submit" class="btn btn-primary" />
								</form>

							</div>
						</div>
					</div>
					<div class="col-sm-7">
						<!-- Reproductor -->

						<div id="div-player">
							<div id="player">
								<img src="../../img/juke.jpg" class="cover" id="art" />
								<div class="trackinfo">
									<p id="title"></p>
									<p id="artist"></p>
								</div>
								<div id="track">
									<div id="progress"></div>
									<div id="handler"></div>
								</div>
								<div class="container">
									<div class="info">
										<div class="cont">
											<button id="prev" class="navPlayer">
												<img src="../../img/prev.png" />
											</button>
											<button id="play" class="navPlayer">
												<img class="pad" src="../../img/play.png" />
											</button>
											<button id="next" class="navPlayer">
												<img src="../../img/next.png" />
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br> <br> <br> <br>
				<button type="button" id="createPlaylistBtn"
					class="btn btn-primary btn-lg" data-toggle="modal"
					data-target="#createPlaylistModal">Create playlist</button>
				<div id="result"></div>
				<h1>Songs</h1>
				<table id="songsTable" class="display">
					<!-- Header Table -->
					<thead>
						<tr>
							<th>Order</th>
							<th></th>
							<th>Title</th>
							<th>Singers</th>
							<th>Genre</th>
							<th>Last Reproduction</th>
							<th>Likes</th>
							<th>Duration</th>
							<th></th>
						</tr>
					</thead>
				</table>

			</div>
		</div>
		<div th:replace="fragments/footer :: footer"></div>

		<script th:inline="javascript">
			$(document).ready(function() {
				var table = $('#songsTable').DataTable(
												{
													dom: 'Bfrtip',
													"sAjaxSource" : "/admin/editablePlaylistData",
													"sAjaxDataProp" : "",
													'iDisplayLength' : -1,
													"searching": false,
													"ordering" : false,
													'columnDefs': [
												         {
													         'targets':  [ 0,1,6,7] ,
													         'className': 'dt-body-center'
												      }],
												      rowReorder: {
												        	dataSrc: 'position',
												    		selector: 'tr'
												      },
													columns : [
															{mRender : function(
																data,
																type,
																full) {
															return '<button type="button" id="removeBtn" class="btn btn-default"' + '>'
															+ '<i class="fa fa-trash-o" style="color:red"' + '>'
															+ '</i>'
															+ '</button>';
															}},
															{
																data: 'position'
															},
															{
																mData : 'title'
															},
															{
																mData : 'singers'
															},
															{
																mData : 'genreName'
															},
															{
																mData : 'lastReproduction'
															},
															{
																mData : 'likes'
															},
															{
																mData : 'duration'
															},
															{
																bSortable : false,
																mRender : function(
																		data,
																		type,
																		full) {
																	return '<button type="button" id="playBtn" class="btn btn-default"' + '>'
																			+ '<i class="fa fa-play-circle fa-1x"' + '>'
																			+ '</i>'
																			+ '</button>';
																}
															} ]
												});
				
				$('#songsTable tbody').on( 'click', 'tr', function () {
			        if ( $(this).hasClass('selected') ) {
			            $(this).removeClass('selected');
			        }
			        else {
			            table.$('tr.selected').removeClass('selected');
			            $(this).addClass('selected');
			        }
			    } );
				
												
												table.on( 'row-reorder', function ( e, diff, edit ) {
			 											//var ori=edit.triggerRow.data().position;
			 											var listData = [];
			 											var dest=0;
			       										for ( var i=0, ien=diff.length ; i<ien ; i++ ) {
			            										var rowData = table.row( diff[i].node ).data();
			            										listData.push(rowData);
			       										}
			       									
            											ajaxPost(listData);
			    							} );
												
												
												function ajaxPost(listData){
													if (listData.length>0){
														
														$.ajax({
															type : "POST",
															contentType : "application/json",
															accept: 'text/plain',
															url : "/admin/editablePlaylistChangeOrder",
															data : JSON.stringify(listData),
															dataType: 'text',
															success : function(result) {
																table.ajax.reload();
															},
															error : function(e) {
																console.log("ERROR: ", e);
															}
													});
													}
												
												}
												
												
				
				

					});
			
			
			
			
		</script>
		<script src="../../js/playerOrderSong.js">
	
	</script>
		<script th:inline="javascript">
		$(document).ready(function() {
			var table = $('#songsTable').DataTable();
			var songId;
			$(document).ready(function() {
				

				$('#songsTable tbody').on('click', 'tr #removeBtn', function () {
					data = table.row( $(this).parents('tr') ).data();
					songId=data.orderSongId;
					ajaxPost();
				
				})
				
			} );
			
			function ajaxPost(){
    			$.ajax({
					type : "POST",
					contentType : "application/json",
					accept: 'text/plain',
					url : "/admin/deleteSong",
					data : JSON.stringify(songId),
					dataType: 'text',
					success : function(result) {
							
								table.ajax.reload();
							
					},
					error : function(e) {
						alert("Error!")
						console.log("ERROR: ", e);
					}
			});
    		}
		})

	</script>

		<script>
		/*
	$(document).ready(function() {
		var table = $('#songsTable').DataTable();
		console.log(table);
		console.log(table.rows().count());
		
		if (table.data().count()){
			$("#createPlaylistBtn").prop("disabled",true);
			$('#message').html('<div class="alert alert-warning alert-dismissible"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <strong>Warning!</strong> you have to add <a href="/admin/songs" class="alert-link">songs</a>.</div>');
		}
	
	}) */
	
	
	</script>
		<script th:inline="javascript">
			var joda = [[${dateForDatePicker}]];
			var date = new Date(joda);
			$(".jp-date").datepicker({ format: 'dd-mm-yyyy',   endDate: new Date()}).datepicker("setDate", date);
	</script>


	</div>
</body>
</html>