<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">

</head>
<body>

	<div id="wrapper">
		<div th:replace="fragments/header :: header"></div>
		<div id="page-wrapper">
			<h1>Schedule</h1>
			<br> <br> <br>
			<div class="container">

				<!-- Modal create event -->
				<div class="modal fade" id="createEventModal" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header text-center">
								<h4 class="modal-title w-100 font-weight-bold">New Event</h4>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body mx-3">
								<form th:action="@{/admin/schedule/newEventForm}"
									th:object="${newEventForm}" method="post" id="createForm">
									<fieldset>
										<div class="form-group col-md-4">
											<label></label>
											<div class="input-group clockpicker" data-placement="left"
												data-align="top" data-autoclose="true">
												<input type="text" class="form-control" th:field="*{hour}" value="14:00">
												<span class="input-group-addon"> <span
													class="glyphicon glyphicon-time"></span>
												</span>
											</div>
										</div>

										<div class="form-group col-md-4">
											<label>Playlists</label> <select id="inputPlaylist"
												class="form-control" th:field="*{playlistId}">
												<option th:each="playlist :${playlists}"
													th:value="${playlist.playlistId}"
													th:text="${playlist.name}"></option>
											</select>
										</div>
										<div>
											<div class="form-group col-md-4">
												<label>Day</label> <select id="inputDay"
													class="form-control" th:field="*{day}">
													<option th:value="1" th:text="Monday"></option>
													<option th:value="2" th:text="Tuesday"></option>
													<option th:value="3" th:text="Wednesday"></option>
													<option th:value="4" th:text="Thursday"></option>
													<option th:value="5" th:text="Friday"></option>
													<option th:value="6" th:text="Saturday"></option>
													<option th:value="7" th:text="Sunday"></option>
												</select>
											</div>
										</div>
										<br> <br> <br>
										<div>
											<div class="col-xs-6 col-sm-6 col-md-6">
												<input type="submit"
													class="btn btn-lg btn-primary btn-block" value="Create" />
											</div>
											<div class="col-xs-6 col-sm-6 col-md-6"></div>
										</div>

									</fieldset>
								</form>

							</div>
						</div>
					</div>
				</div>

				<!-- Modal delete event -->
				<div class="modal fade" id="deleteEventModal" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header text-center">
								<h4 class="modal-title w-100 font-weight-bold">Delete Event</h4>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body mx-3">
								<form th:action="@{/admin/schedule/deleteEvent}"
									th:method="post" id="deleteForm" th:object="${longWrapper}">
									<fieldset>

										<div class="form-group col-md-12">
											<label>Select Event</label> <select id="inputEvent"
												class="form-control" th:field="*{id}">
												<option th:each="event :${events}" th:value="${event.id}"
													th:text="${event.title}"></option>
											</select>
										</div>
										<br> <br> <br>
										<div class="row">
											<div class="col-xs-6 col-sm-6 col-md-6">
												<input type="submit"
													class="btn btn-lg btn-primary btn-block" value="Delete" />
											</div>
											<div class="col-xs-6 col-sm-6 col-md-6"></div>
										</div>

									</fieldset>
								</form>

							</div>
						</div>
					</div>
				</div>

				<button type="button" id="createEventBtn"
					class="btn btn-primary btn-lg" data-toggle="modal"
					data-target="#createEventModal">New Event</button>

				<button type="button" id="deleteEventBtn"
					class="btn btn-primary btn-lg" data-toggle="modal"
					data-target="#deleteEventModal">Delete Event</button>
				<br> <br> <br> <br>
				<div id='calendar'></div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>

	<script type="text/javascript">
		$('.clockpicker').clockpicker();
		
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#calendar').fullCalendar({
				contentHeight : 600,
				header : {
					left : 'prev,next today',
					center : 'title',
					right : 'month,agendaWeek,agendaDay'
				},
				defaultView : 'agendaWeek',
				events : {
					url : '/admin/event/all'
				},
				views: {
				      agendaWeek: {
				    	  columnFormat: "dddd"
				      }
				},
				axisFormat : 'H(:mm)',
				timeFormat : 'H(:mm)', // uppercase H for 24-hour clock
				overlap : false,
				editable : false,
				selectable : true,
				slotEventOverlap : false,
				selectOverlap : false,
				eventOverlap : false
			});
			$('.fc-toolbar').remove();
		});
	</script>
	<script type="text/javascript">
	

</script>
</body>
</html>