<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">

</head>
<body>
	<div id="wrapper">
		<div th:replace="fragments/header :: header"></div>
		<div id="page-wrapper">
			<div class="container">
				<div class="row">
					<!-- filtros -->
					<hr>
					<div class="col-sm-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title" align="center">Find Songs</h3>
							</div>
							<div class="panel-body">
								<form id="filters_form" class="form-row" method="GET"
									action="/admin/songs">
									<div class="form-group">
										<input id="inputKeywords" class="form-control input-lg"
											type="text" name="keywords" placeholder="Keywords">
									</div>
									<div class="form-group">
										<label for="inputGenre">Genre</label> <select
											class="form-control" name="genreId" id="inputGenre">
											<option th:each="genre :${genreList}"
												th:value="${genre.genreId}" th:text="${genre.name}"></option>
										</select>
									</div>
									<div class="form-group col-md-7">
										<label for="inputOrderBy">OrderBy</label> <select
											class="form-control" name="orderBy" id="inputOrderBy">
											<option th:each="ob :${orderByList}" th:value="${ob}"
												th:text="${ob}"></option>
										</select>
									</div>
									<div class="form-group col-md-5">
										<label for="inputAsc">Asc/Des</label> <select id="inputAsc"
											class="form-control" name="asc">
											<option value="false">Des</option>
											<option value="true">Asc</option>
										</select>
									</div>


									<div class="form-group">
										<label></label>
										<div class="input-group date jp-date">
											<input id="datePicker" type="text" class="form-control"
												name="date"><span class="input-group-addon"><i
												class="glyphicon glyphicon-th"></i></span>
										</div>
										<small id="dateHelp" class="form-text text-muted">Will
											show us the likes since this date.</small>
									</div>

									<button id="submitBtn" type="submit" class="btn btn-primary">Find</button>

								</form>

							</div>
						</div>
					</div>
					<!-- Reproductor -->
					<div class="col-sm-8">
						<div id="div-player">

							<div id="player">
								<img src="../../img/juke.jpg" class="cover" id="art" />
								<div class="trackinfo">
									<p id="title"></p>
									<p id="artist"></p>
								</div>
								<div id="track">
									<div id="progress"></div>
									<div id="handler"></div>
								</div>
								<div class="container">
									<div class="info">
										<div class="cont">
											<button id="prev" class="navPlayer">
												<img src="../../img/prev.png" />
											</button>
											<button id="play" class="navPlayer">
												<img class="pad" src="../../img/play.png" />
											</button>
											<button id="next" class="navPlayer">
												<img src="../../img/next.png" />
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>

				<!-- Tabla -->
				<br> <br> <br>

				<h1>Songs</h1>
				<table id="songTable" class="table table-hover">
					<tr>
					<thead>
						<tr>
							<th></th>
							<th>Title</th>
							<th>Singers</th>
							<th>Genre</th>
							<th>Likes</th>
							<th>Last Reproduction</th>
							<th>Duration</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="songDto :${data.getListForPage()}">
							<td><input type="checkbox" name="songId"
								th:value="${songDto.song.songId}"></td>
							<td th:text="${songDto.song.title}"></td>
							<td th:text="${songDto.song.singers}"></td>
							<td th:text="${songDto.song.genre.name}"></td>
							<td th:text="${songDto.likes}"></td>
							<td th:text="${songDto.lastReproduction}"></td>
							<td th:text="${songDto.durationMinSec}"></td>
							<td><button type="button" class="btn btn-default">
									<i class="fa fa-play-circle fa-1x"></i>
								</button></td>
						</tr>
					</tbody>
				</table>
				<hr />
				<!-- Pagination -->
				<div align="right">
					<span class="nav-item" th:if="${hasPrevious}"
						th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"><a
						class="previous"
						th:href="${urlBuilder.replaceQueryParam('page', data.getPage() - 1).toUriString()}">&laquo;
							Previous</a></span> <span class="nav-item" th:if="${hasNext}"
						th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"><a
						th:href="${urlBuilder.replaceQueryParam('page', data.getPage() + 1).toUriString()}"
						class="next">Next &raquo;</a></span>

				</div>
				<br>
				<div id="message"></div>
				<button id="addBtn" class="btn btn-primary" type="submit">Add
					Songs to Playlist</button>
			</div>
		</div>

		<div th:replace="fragments/footer :: footer"></div>



		<script th:inline="javascript">
			var joda = [[${dateForDatePicker}]];
			var date = new Date(joda);
			$(".jp-date").datepicker({ format: 'dd-mm-yyyy',   endDate: new Date()}).datepicker("setDate", date);
	</script>

		<script th:inline="javascript">
	var genreId = [[${filters.genreId}]];
	$("#inputGenre").val(genreId).change()
	</script>
		<script th:inline="javascript">
	var orderBy = [[${filters.orderBy}]];
	$("#inputOrderBy").val(orderBy).change()
	</script>
		<script th:inline="javascript">
	var asc = [[${filters.asc}]];
	$("#inputAsc").val(asc).change()
	</script>
		<script th:inline="javascript">
	var asc = [[${filters.keywords}]];
	$("#inputKeywords").val(asc).change()
	</script>

		<script th:inline="javascript">
	var holding = false;
	var track = document.getElementById('track');
	var progress = document.getElementById('progress');
	var play = document.getElementById('play');
	var next = document.getElementById('next');
	var prev = document.getElementById('prev');
	var title = document.getElementById('title');
	var artist = document.getElementById('artist');
	var art = document.getElementById('art');
	var current_track;
	var songDto, audio, duration;
	var divoffset = $("#div-player").offset();
	var playing = false;
	var data = [[${data.getListForPage()}]];
	console.log(data);
	$(".btn-default").click(function() {
		
		current_track = $(".btn-default").index(this); 
		songDto = data[current_track];
		audio.src = "private/" + songDto.song.path;
		audio.onloadeddata = function() {
			updateInfo();
		}
	});
	
	window.addEventListener('load',init(), false);
	function init() {
		audio = new Audio();
	}

	audio.addEventListener('timeupdate', updateTrack, false);
	audio.addEventListener('loadedmetadata', function () {
		duration = this.duration;
	}, false);
	window.onmousemove = function (e) {
		e.preventDefault();
		if (holding) seekTrack(e);
	}
	window.onmouseup = function (e) {
		holding = false;
	}
	track.onmousedown = function (e) {
		holding = true;

	}
	play.onclick = function () {
		playing ? audio.pause() : audio.play();
	}

	audio.addEventListener("pause", function () {
		play.innerHTML = '<img class="pad" src="../../img/play.png" />';
		playing = false;
	}, false);

	audio.addEventListener("playing", function () {
		play.innerHTML = '<img src="../../img/pause.png" />';
		playing = true;
	}, false);
	next.addEventListener("click", nextTrack, false);
	prev.addEventListener("click", prevTrack, false);


	function updateTrack() {
		curtime = audio.currentTime;
		percent = Math.round((curtime * 100) / duration);
		progress.style.width = percent + '%';
		handler.style.left = percent + '%';
	}

	function seekTrack(e) {
		event = e || window.event;
		var x = e.pageX - divoffset.left - player.offsetLeft - track.offsetLeft;
		percent = Math.round((x * 100) / track.offsetWidth);
		if (percent > 100) percent = 100;
		if (percent < 0) percent = 0;
		progress.style.width = percent + '%';
		handler.style.left = percent + '%';
		audio.play();
		audio.currentTime = (percent * duration) / 100
	}

	function nextTrack() {
		var data = [[${data.getListForPage()}]];
		current_track++;
		current_track = current_track % ( 10);
		songDto = data[current_track];
		if (typeof songDto !== 'undefined') {
			audio.src = "private/" + songDto.song.path;
		}
		audio.onloadeddata = function() {
			updateInfo();
		}
	}
	$(document).ready(nextTrack);

	function prevTrack() {
		var data = [[${data.getListForPage()}]];
		current_track--;
		current_track = (current_track == -1 ? (10 - 1) : current_track);
		songDto = data[current_track];
		if (typeof songDto !== 'undefined') {
			audio.src = "private/" + songDto.song.path;
		}
		audio.onloadeddata = function() {
			updateInfo();
		}
	}

	$(document).ready(prevTrack);

	function updateInfo() {
		title.textContent = songDto.song.title;
		artist.textContent = songDto.song.singers;
		/*art.src = song.art; 
	    art.onload = function() {
	        audio.play();
	    }*/

		audio.play();
	}
	</script>

		<script th:inline="javascript">
	// Handle form submission event
	
	var songIdList = [];
		$('#addBtn').click(function(){

			// Iterate over all checkboxes in the table
			 $('#songTable').find('input[type="checkbox"]:checked').each(function (){	     	 			       

							songIdList.push(this.value);

			       	
			});
			
			ajaxPost();
			
		});

		function ajaxPost(){
			$.ajax({
				type : "POST",
				contentType : "application/json",
				accept: 'text/plain',
				url : "/admin/songs",
				data : JSON.stringify(songIdList),
				dataType: 'text',
				success : function(result) {
						if (songIdList.length == 0){
							$('#message').html('<div class="alert alert-danger alert-dismissible"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <strong>Error!</strong> You have not selected any song.</div>');
						}else{
							$('#message').html('<div class="alert alert-success alert-dismissible"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <strong>Success!</strong> you have added '+ songIdList.length +' songs to <a href="/admin/editablePlaylist" class="alert-link"> create playlist</a>.</div>');
						}
						// reset list
						songIdList = [];
						
						//reset table
						 $('#songTable').find('input[type="checkbox"]:checked').each(function (){	     	 			       
							 $(this).prop('checked', false);
						 });
				},
				error : function(e) {
					alert("Error!")
					console.log("ERROR: ", e);
				}
		});
		}

	
	
	
	</script>

	</div>
</body>
</html>