<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header-css">
<title>Gramola-FIC</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">



<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

<link rel="stylesheet" th:href="@{/css/clockpicker.css}"
	href="../../css/clockpicker.css" />

<link rel="stylesheet" th:href="@{/css/bootstrap-clockpicker.css}"
	href="../../css/bootstrap-clockpicker.css" />


<link rel="stylesheet" th:href="@{/css/player.css}"
	href="../../css/reproductor.css" />
<link rel="stylesheet"
	th:href="@{/webjars/font-awesome/4.3.0/css/font-awesome.min.css}" />

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css}" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">



<link rel="stylesheet"
	th:href="@{/webjars/fullcalendar/3.9.0/dist/fullcalendar.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap-datetimepicker/2.3.5/css/bootstrap-datetimepicker.min.css}" />


<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>


<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script
	th:src="@{/webjars/bootstrap-datetimepicker/2.3.5/js/bootstrap-datetimepicker.min.js}"></script>
<script
	th:src="@{/webjars/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js}"></script>
<script
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script
	src="https://cdn.datatables.net/select/1.2.6/js/dataTables.select.min.js"></script>

<script
	src="https://cdn.datatables.net/rowreorder/1.2.4/js/dataTables.rowReorder.min.js"></script>

<script src="../../js/clockpicker.js"></script>

<script th:src="@{/webjars/moment/2.22.2/min/moment.min.js}"></script>

<script th:src="@{/webjars/fullcalendar/3.9.0/dist/fullcalendar.js}"></script>

</head>
<body>
	<!-- Reusable alert -->
	<div th:fragment="alert (type, message)"
		class="alert alert-dismissable" th:classappend="'alert-' + ${type}">
		<button type="button" class="close" data-dismiss="alert"
			aria-hidden="true">&times;</button>
		<span th:text="${message}">Test</span>
	</div>
	<div th:fragment="header">
		<!-- this is header -->
		<div id="throbber" style="display: none; min-height: 120px;"></div>
		<div id="noty-holder"></div>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}"> Gramola</a>
			</div>
			<a></a>
			<ul class="nav navbar-nav">
				<li class="active"><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/contact}">Contact</a></li>

			</ul>
			<ul class="nav navbar-right top-nav">
				<li sec:authorize="isAnonymous()"><a href="/signin"><span
						class="glyphicon glyphicon-log-in"></span> Sign In</a></li>

				<li sec:authorize="isAuthenticated()"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown">User <b
						class="fa fa-angle-down"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#"><i class="fa fa-fw fa-user"></i> Edit
								Profile</a></li>
						<li><a href="#"><i class="fa fa-fw fa-cog"></i> Change
								Password</a></li>
						<li class="divider"></li>
						<li><a href="/logout"><i class="fa fa-fw fa-power-off"></i>
								Logout</a></li>
					</ul></li>
			</ul>
			<!-- Menu lateral admin -->
			<div class="collapse navbar-collapse navbar-ex1-collapse"
				sec:authorize="hasAuthority('ADMIN_ROLE')">
				<ul class="nav navbar-nav side-nav">
					<li><a th:href="@{/admin/songs}"><i
							class="fa fa-fw fa-search"></i> Find Songs</a></li>
					<li><a href="#" data-toggle="collapse"
						data-target="#submenu-2"><i class="fa fa-fw fas fa-music"></i>
							PlayLists <i class="fa fa-fw fa-angle-down pull-right"></i></a>
						<ul id="submenu-2" class="collapse">
							<li><a th:href="@{/admin/editablePlaylist}"><i
									class="fa fa-angle-double-right"></i> Create</a></li>
							<li><a th:href="@{/admin/playlists}"><i
									class="fa fa-angle-double-right"></i> Find</a></li>
						</ul></li>
					<li><a th:href="@{/admin/schedule}"><i
							class="fa fa-fw fa fa-clock-o"></i> Daily Program Schedule</a></li>
				</ul>
			</div>

		</nav>

	</div>

	<script th:inline="javascript">
		$(function() {
			$('[data-toggle="tooltip"]').tooltip();
			$(".side-nav .collapse").on(
					"hide.bs.collapse",
					function() {
						$(this).prev().find(".fa").eq(1).removeClass(
								"fa-angle-right").addClass("fa-angle-down");
					});
			$('.side-nav .collapse').on(
					"show.bs.collapse",
					function() {
						$(this).prev().find(".fa").eq(1).removeClass(
								"fa-angle-down").addClass("fa-angle-right");
					});
		})
	</script>
</body>
</html>