* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F4F4F4;
    font-family:'Helvetica';
}
#player {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%; left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    border-radius: 50%;
    border: 1px solid #D0D0D0;
}
#player .cover {
    width: 400px;
    position: absolute;
    top: 0;
    left:0;
    border-radius: 50%;
}
#player .container {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
#player .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 115px;
    background-color: #FFF;
}
#player .info .cont {
    text-align: center;
    padding-top: 25px;
}
#player .trackinfo {
    position: absolute;
    bottom: 135px;
    color: #FFF;
}
#player .trackinfo p {
    text-shadow: 0px 0px 5px #333;
}
#player .trackinfo #title {
    font-weight: bold;
    font-size: 30px;
    padding-left: 10px;
    margin-bottom: 5px;
}
#player .trackinfo #artist {
    padding-left: 25px;
}
#track {
    width: 366px;
    height: 5px;
    position: absolute;
    background-color: #A6A7A9;
    bottom: 115px;
    left: 17px;
    z-index: 10;
    cursor: pointer;
}
#progress {
    float: left;
    height: 5px;
    width: 0%;
    background: #00CC99;
    cursor: pointer;
}
#handler {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #00CC99;
    top: 50%;
    left: 0%;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
}
.navPlayer {
    width: 50px;
    height: 50px;
    vertical-align: top;
    background-color: #FFF;
    border: 2px solid #00CC99;
    border-radius: 50%;
    outline: none;
    margin: 0 7px;
    cursor: pointer;
}
.navPlayer:hover {
    background-color: #00CC99;
}
.navPlayer img {
    height: 20px;
    vertical-align: middle;
}
.pad {
    padding-left: 5px;
}
#prev {
    padding-right: 5px;
}
#next {
    padding-left: 4px;
}

#div-player {
    width: 600px;
    height: 400px;
    position: relative;

}
