<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/core.css" media="screen" />
</head>
<body>
	<div id="wrapper">
		<div th:replace="fragments/header :: header"></div>
		<div id="page-wrapper">
			<div class="container">
				<div class="row" style="margin-top: 20px">
					<div
						class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
						<form th:action="@{/signup}" method="post">
							<fieldset>
								<h1>Sign Up</h1>
								<div class="form-group">
									<input type="text" name="Email" id="email"
										class="form-control input-lg" placeholder="email"
										required="true" autofocus="true" />
								</div>
								<div class="form-group">
									<input type="text" name="Name" id="name"
										class="form-control input-lg" placeholder="name"
										required="true" autofocus="true" />
								</div>
								<div class="form-group">
									<input type="text" name="Surnames" id="surnames"
										class="form-control input-lg" placeholder="surnames"
										required="true" autofocus="true" />
								</div>
								<div class="form-group">
									<input type="password" name="Password" id="password"
										class="form-control input-lg" placeholder="password"
										required="true" autofocus="true" />
								</div>
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<input type="submit" class="btn btn-lg btn-primary btn-block"
											value="Sign Up" />
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6"></div>
								</div>

							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>